@import url("https://use.typekit.net/acr3pjo.css");

$font__main: 'AvenirNextLTW02-Regular', Avenir, Helvetica, Arial, sans-serif;
// $font__heading: 'Avenir Next LT W02 Demi', sans-serif;
// $font__subheading: 'AvenirNextLTW02-Regular', Avenir, sans-serif;
$font__heading: 'adobe-caslon-pro', serif;
$font__subheading: 'adobe-caslon-pro', serif;
// font-family: adobe-caslon-pro, serif;
$font__bold: 'Avenir Next LT W02 Demi', Avenir, Helvetica, Arial, sans-serif;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;