header {
	max-width: 1366px;
	width: 100%;
	margin: 0 auto;
	padding: 1rem 6rem 0 6rem;
}

.site-branding {
	position: relative;
	
	img {
		width: 300px;
	}
	
}

.cantrust-logo {
	padding-bottom: 50px;
}
